<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Fast food</title>
</head>
<body>
<div class="container pt-3" style="text-align: center;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/admin}">Быстро и в точку</a>
        <a class="navbar-brand" th:href="@{/admin/dish/menu}">Меню</a>
        <a class="navbar-brand" th:href="@{/admin/courier/couriers}">Курьеры</a>
        <a class="navbar-brand" th:href="@{/admin/order/orders}">Заказы</a>
        <a class="navbar-brand" th:if="${username == 'Гость'}" th:href="@{/admin/login}">
            <span>Гость</span>
            <span> | Войти</span>
        </a>
        <a class="navbar-brand" th:if="${username != 'Гость'}" th:href="@{/admin/logout}">
            <span th:text="${username}"></span>
            <span> | Выйти</span>
        </a>
    </nav>

    <div th:if="${dismiss == 'true'}" style="padding-top: 20px">
        <span><b style="color: #ff4d00; font-size: 25px">Курьер уволен</b></span>
    </div>

    <div th:if="${dismiss == 'false'}" style="padding-top: 20px">
        <span><b style="color: #138808; font-size: 25px">Курьер нанят</b></span>
    </div>

    <div style="padding-top: 20px">
        <form th:action="@{/admin/courier/formAddCourier}">
            <button type="submit" class="btn btn-primary">
                Добавить курьера
            </button>
        </form>
    </div>

    <div style="padding-top: 20px">
        <table style="margin: auto" width="500" border="0">
            <thead>
            <tr>
                <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Имя</th>
                <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Номер телефона</th>
                <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Статус</th>
                <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Уволить/Нанять</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="courier: ${couriers}" style="height: 50px">
                <td height="50px" th:text="${courier.name}" style="border-bottom: 3px solid #808080;"></td>
                <td height="50px" th:text="${courier.number}" style="border-bottom: 3px solid #808080;"></td>
                <td height="50px" style="border-bottom: 3px solid #808080;">
                    <span th:if="${courier.dismissed} == true">Уволен</span>
                    <span th:if="${courier.dismissed} == false">Нанят</span>
                </td>
                <td style="border-bottom: 3px solid #808080;">
                    <form th:action="@{/admin/courier/dismissCourier}" th:if="${courier.dismissed == false}" method="post">
                        <button type="submit" name="id" th:value="${courier.id}" class="btn btn-primary">
                            -
                        </button>
                    </form>
                    <form th:action="@{/admin/courier/hireCourier}" th:if="${courier.dismissed == true}" method="post">
                        <button type="submit" name="id" th:value="${courier.id}" class="btn btn-primary">
                            +
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>